@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");


* {
font-family: "Inter", sans-serif;
}

.gradient-bg {
  background: linear-gradient(135deg, #93a603 0%, #f2594b 100%);
}

.icon-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  display: inline-block;
}

.small-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: inline-block;
}
